APP_NAME=RideNG API
APP_VERSION=0.2.0
ENVIRONMENT=development

API_V1_PREFIX=/api/v1

PILOT_CITY=Abuja
COUNTRY=Nigeria
CURRENCY=NGN
TIMEZONE=Africa/Lagos

DB_HOST=localhost
DB_PORT=5432
DB_NAME=rideng_dev
DB_USER=rideng_app
DB_PASSWORD=change_me